body {
    background-image:url(../../Pictures/Win.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    padding-top: 250px;
    padding-bottom: 300px;

}

.jumbotron {
    border: 0.08em solid black;
    opacity: .75;
    text-align: center;
}
