body {
    background-image:url(https://images.nymag.com/images/2/daily/2010/08/20100826_ironsky_560x375.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    padding-top: 250px;
    padding-bottom: 300px;

}

.jumbotron {
    border: 0.08em solid black;
    opacity: .75;
    text-align: center;
}
