body {
    background-color: black;
}

#shooter{
    top:80%;
    left:50%;
    position:absolute
}
#bullet{
    top:80%;
    left:50%;
    position:absolute;
    visibility: hidden;
} 

.small {
    height:60px;
    width:75px;
    border-style:solid;
    border-color:white;
    border-width: 2px;
}

.float {
    float:right
}

.footer {
    bottom: 0px;
    position: fixed;
    border-top-color: white;
    opacity: 0;
}

